<div id="musicStrip">
	<div class="section-divider">
		<div id="featuredPlaylistLabel">¡Dale play y disfruta!</div>
		<div class="section-auxiliary">
			<button class="button button-icon-only disabled spoticon-chevron-left-16"></button>
			<button class="button button-icon-only spoticon-chevron-right-16"></button>
		</div>
	</div>
	<div id="featuredPlaylists">
		<div class="row">
			<div class="crsl-inner">
				<spotyngular2-browse-big-card 
					*ngFor="#feature of featuredPlaylist"
					(^click)="seePlaylist($event, feature)"
					[name]="feature.name"
					[image]="feature.image"
					[desc]="feature.desc">
				</spotyngular2-browse-big-card>
			</div>
		</div>
	</div>
</div>